include import_clipart.ui
include import_clipart.py
include import_clipart.inx
include import_clipart.svg
include import_sources.py
include README.md
include LICENSE.txt
include sources/*.py
include sources/*.svg
